.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
}

.input-form {
  display: flex;
  gap: 10px;
}

.input-form input {
  height: 40px;
  width: 180px;
}

.input-form button {
  background-color: blue;
  color: white;
  transition: all ease 0.3s;
}

.input-form button:hover {
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.input-form button:hover:active {
  transform: translateY(-3px);
}

#delete-btn {
  background-color: rgb(195, 4, 4);
  color: white;
  transition: all ease 0.3s;
}

#delete-btn:hover {
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#delete-btn:hover:active {
  transform: translateY(-3px);
}

.items-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 20px;
  align-items: center;
}

.items-wrapper div {
  display: flex;
  width: 50%;
  margin-top: 20px;
  justify-content: flex-start;
}

.item {
  width: 700%;
}